In [136]:
import pandas as pd
df = pd.read_csv('Output.csv')

In [137]:
df.head()

,Cluster ID,confidence_score,Id,ln,dob,gn,fn,canonical_Id,canonical_ln,canonical_dob,canonical_gn,canonical_fn
0,27,NaN,0,SMITH JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
1,28,NaN,1,ROTHMEYER JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
2,29,NaN,2,ASBY JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
3,0,0.999995,3,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'
4,0,0.999995,4,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'

In [138]:
df = df.sort_values('Cluster ID')
df = df.reset_index(drop=True)
df['Cluster ID'].max()

53

In [140]:
df.head()

,Cluster ID,confidence_score,Id,ln,dob,gn,fn,canonical_Id,canonical_ln,canonical_dob,canonical_gn,canonical_fn
0,0,0.999995,3,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'
1,0,0.999995,4,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'
2,1,0.999991,5,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
3,1,0.999991,6,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
4,1,0.999991,7,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'

In [86]:
df

,Cluster ID,confidence_score,Id,ln,dob,gn,fn,canonical_Id,canonical_ln,canonical_dob,canonical_gn,canonical_fn
0,0,9.999953e-01,3,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'
1,0,9.999953e-01,4,SALTER JR,1/3/1968,F,WILLIAM,b'3',b'SALTER JR',b'1/3/1968',b'F',b'WILLIAM'
2,1,9.999913e-01,5,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
3,1,9.999913e-01,6,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
4,1,9.999913e-01,7,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
5,1,9.999793e-01,12,BLAND,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
6,1,9.999913e-01,13,BLAND JR,21/02/62,F,WILLIAM,b'12',b'BLAND JR',b'21/02/62',b'F',b'WILLIAM'
7,2,9.999953e-01,8,SHAFFER JR,21/02/62,F,WILLIAM,b'8',b'SHAFFER JR',b'21/02/62',b'F',b'WILLIAM'
8,2,9.999953e-01,9,SHAFFER JR,21/02/62,F,WILLIAM,b'8',b'SHAFFER JR',b'21/02/62',b'F',b'WILLIAM'
9,3,9.999953e-01,14,BLAND JR,8/6/1954,F,WILLIAM,b'14',b'BLAND JR',b'8/6/1954',b'F',b'WILLIAM'
10,3,9.999953e-01,15,BLAND JR,8/6/1954,F,WILLIAM,b'14',b'BLAND JR',b'8/6/1954',b'F',b'WILLIAM'
11,4,9.999953e-01,17,BLAND JR,25/10/53,F,WILLIAM,b'16',b'BLAND JR',b'25/10/53',b'F',b'WILLIAM'
12,4,9.999953e-01,16,BLAND JR,25/10/53,F,WILLIAM,b'16',b'BLAND JR',b'25/10/53',b'F',b'WILLIAM'
13,5,2.357219e-24,19,DUNCAN JR,25/10/53,F,THOMAS,b'19',b'DUNCAN JR',b'25/10/53',b'F',b'THOMAS'
14,5,2.357219e-24,22,DUNCAN JR,25/10/53,F,ROY,b'19',b'DUNCAN JR',b'25/10/53',b'F',b'THOMAS'
15,6,8.181788e-09,21,CARLSON JR,25/10/53,F,RON,b'20',b'CARLSON JR',b'25/10/53',b'F',b'ROY'
16,6,8.181788e-09,20,CARLSON JR,25/10/53,F,ROY,b'20',b'CARLSON JR',b'25/10/53',b'F',b'ROY'
17,7,9.999912e-01,25,MICHAELSON,25/10/53,M,ROY,b'23',b'MICHAELSON',b'25/10/53',b'M',b'ROY'
18,7,9.999912e-01,26,MICHAELSON JR,25/10/53,M,ROY,b'23',b'MICHAELSON',b'25/10/53',b'M',b'ROY'
19,7,9.999912e-01,23,MICHAELSON,25/10/53,M,ROY,b'23',b'MICHAELSON',b'25/10/53',b'M',b'ROY'
20,7,9.999912e-01,24,MICHAELSON JR,25/10/53,M,ROY,b'23',b'MICHAELSON',b'25/10/53',b'M',b'ROY'
21,8,9.999953e-01,28,MICHAELSON JR,17/06/48,M,ROY,b'28',b'MICHAELSON JR',b'17/06/48',b'M',b'ROY'
22,8,9.999953e-01,29,MICHAELSON JR,17/06/48,M,ROY,b'28',b'MICHAELSON JR',b'17/06/48',b'M',b'ROY'
23,9,1.848819e-05,33,MUSTAPHA JR,11/3/1947,M,OWEN,b'33',b'MUSTAPHA JR',b'11/3/1947',b'M',b'OWEN'
24,9,1.848819e-05,34,MUSTAPHA JR,11/3/1947,M,OWAN,b'33',b'MUSTAPHA JR',b'11/3/1947',b'M',b'OWEN'
25,10,9.999953e-01,35,HOUGHTON JR,31/01/46,M,LAWRENCE,b'35',b'HOUGHTON JR',b'31/01/46',b'M',b'LAWRENCE'
26,10,9.999953e-01,36,HOUGHTON JR,31/01/46,M,LAWRENCE,b'35',b'HOUGHTON JR',b'31/01/46',b'M',b'LAWRENCE'
27,10,9.999953e-01,37,HOUGHTON JR,31/01/46,M,LAWRENCE,b'35',b'HOUGHTON JR',b'31/01/46',b'M',b'LAWRENCE'
28,11,9.999953e-01,39,LIND JR,31/01/46,M,LAWRENCE,b'38',b'LIND JR',b'31/01/46',b'M',b'LAWRENCE'
29,11,9.999953e-01,38,LIND JR,31/01/46,M,LAWRENCE,b'38',b'LIND JR',b'31/01/46',b'M',b'LAWRENCE'
...,...,...,...,...,...,...,...,...,...,...,...,...
74,25,9.999163e-01,95,HANNA,24/11/34,M,ADDISON JOHN,b'94',b'HANNA',b'24/11/34',b'M',b'ADDISON'
75,26,9.999850e-01,102,FUNARO,6/12/1937,F,HARRIET,b'101',b'FUNARO J',b'6/12/1937',b'F',b'HARRIET'
76,26,9.999850e-01,101,FUNARO J,6/12/1937,F,HARRIET,b'101',b'FUNARO J',b'6/12/1937',b'F',b'HARRIET'
77,27,NaN,0,SMITH JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
78,28,NaN,1,ROTHMEYER JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
79,29,NaN,2,ASBY JR,1/3/1968,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
80,30,NaN,10,BLAND III,21/02/62,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
81,31,NaN,11,BLAND JR,21/02/62,F,BILL,NaN,NaN,NaN,NaN,NaN
82,32,NaN,18,SHAFFER JR,25/10/53,F,WILLIAM,NaN,NaN,NaN,NaN,NaN
83,33,NaN,27,MICHAELSON JR,1/5/1951,M,ROY,NaN,NaN,NaN,NaN,NaN
84,34,NaN,30,MICHAELSON JR,9/4/1947,M,ROY,NaN,NaN,NaN,NaN,NaN
85,35,NaN,31,MICHAELSON JR,9/4/1947,M,ROBERT,NaN,NaN,NaN,NaN,NaN
86,36,NaN,32,MICHAELSON JR,9/4/1947,M,BOB,NaN,NaN,NaN,NaN,NaN
87,37,NaN,42,LIND JR,20/01/46,M,JOHN,NaN,NaN,NaN,NaN,NaN
88,38,NaN,43,CAIN JR,20/01/46,M,JOHN,NaN,NaN,NaN,NaN,NaN
89,39,NaN,44,CLARK,9/6/1945,M,JOHN,NaN,NaN,NaN,NaN,NaN
90,40,NaN,47,CLARK,16/12/44,M,JOHN,NaN,NaN,NaN,NaN,NaN
91,41,NaN,60,MICHAELSON JR,24/06/39,M,JACK,NaN,NaN,NaN,NaN,NaN
92,42,NaN,61,MICHAELSON JR,9/6/1939,M,JACK,NaN,NaN,NaN,NaN,NaN
93,43,NaN,64,MUSTAPHA JR,7/10/1937,M,HAROLD,NaN,NaN,NaN,NaN,NaN
94,44,NaN,65,HOUGHTON JR,7/10/1937,M,HAROLD,NaN,NaN,NaN,NaN,NaN
95,45,NaN,81,SMITH JR,7/10/1937,M,HAROLD,NaN,NaN,NaN,NaN,NaN
96,46,NaN,86,FAGEN JR,7/10/1937,M,GEORGE,NaN,NaN,NaN,NaN,NaN
97,47,NaN,87,GRIFFIN JR,7/10/1937,M,DARH,NaN,NaN,NaN,NaN,NaN
98,48,NaN,88,GRIFFIN JR,10/7/1937,M,DARL,NaN,NaN,NaN,NaN,NaN
99,49,NaN,89,GRIFFIN JR,7/5/1937,M,DARL,NaN,NaN,NaN,NaN,NaN
100,50,NaN,93,GRIFFIN JR,7/5/1937,M,CLARENCE,NaN,NaN,NaN,NaN,NaN
101,51,NaN,99,GALETICH JR,15/10/32,M,ADDISON,NaN,NaN,NaN,NaN,NaN
102,52,NaN,100,FUNARO JONES,6/12/1937,F,HARRIET,NaN,NaN,NaN,NaN,NaN
103,53,NaN,103,Sparsh,7/9/1998,F,Dutta,NaN,NaN,NaN,NaN,NaN

In [225]:
df1 = pd.DataFrame(columns=['ln','dob','gn','fn'])

In [231]:
for i in range(df['Cluster ID'].max()+1):
    if(str(df[df['Cluster ID'] == int(i)].iloc[0][1]) == 'nan'):
        df1 = df1.append(df[df['Cluster ID'] == int(i)].iloc[0][3:7])
    else:
        ln = df[df['Cluster ID'] == int(i)].iloc[0][-4][2:-1]
        dob = df[df['Cluster ID'] == int(i)].iloc[0][-3][2:-1]
        gn = df[df['Cluster ID'] == int(i)].iloc[0][-2][2:-1]
        fn = df[df['Cluster ID'] == int(i)].iloc[0][-1][2:-1]
        diction = {'ln':ln, 'dob':dob, 'gn':gn, 'fn':fn}
        df1 = df1.append([diction])

In [232]:
df1

                ln        dob gn        fn
0        SALTER JR   1/3/1968  F   WILLIAM
0         BLAND JR   21/02/62  F   WILLIAM
0       SHAFFER JR   21/02/62  F   WILLIAM
0         BLAND JR   8/6/1954  F   WILLIAM
0         BLAND JR   25/10/53  F   WILLIAM
0        DUNCAN JR   25/10/53  F    THOMAS
0       CARLSON JR   25/10/53  F       ROY
0       MICHAELSON   25/10/53  M       ROY
0    MICHAELSON JR   17/06/48  M       ROY
0      MUSTAPHA JR  11/3/1947  M      OWEN
0      HOUGHTON JR   31/01/46  M  LAWRENCE
0          LIND JR   31/01/46  M  LAWRENCE
0          LIND JR   31/01/46  M   KENNETH
0            CLARK   9/2/1945  M    RONALD
0         CLARK JR   16/12/44  M      JOHN
0    MICHAELSON JR   16/12/44  M      JOHN
0    MICHAELSON JR   24/04/40  M      JOHN
0    MICHAELSON JR   24/06/39  M      JOHN
0    MICHAELSON JR   24/06/39  M     JAMES
0        LARSON JR   9/6/1939  M    HAROLD
0        MELVIN JR  7/10/1937  M    HAROLD
0        CHAVAS JR  7/10/1937  M    HAROLD
0    MICHAELSON JR  7/10/1937  M    HAROLD
0         FAGEN JR  7/10/1937  M    HAROLD
0       GRIFFIN JR   7/5/1937  M  CLIFFORD
0            HANNA   24/11/34  M   ADDISON
0         FUNARO J  6/12/1937  F   HARRIET
77        SMITH JR   1/3/1968  F   WILLIAM
78    ROTHMEYER JR   1/3/1968  F   WILLIAM
79         ASBY JR   1/3/1968  F   WILLIAM
..             ...        ... ..       ...
0       GRIFFIN JR   7/5/1937  M  CLIFFORD
0            HANNA   24/11/34  M   ADDISON
0         FUNARO J  6/12/1937  F   HARRIET
77        SMITH JR   1/3/1968  F   WILLIAM
78    ROTHMEYER JR   1/3/1968  F   WILLIAM
79         ASBY JR   1/3/1968  F   WILLIAM
80       BLAND III   21/02/62  F   WILLIAM
81        BLAND JR   21/02/62  F      BILL
82      SHAFFER JR   25/10/53  F   WILLIAM
83   MICHAELSON JR   1/5/1951  M       ROY
84   MICHAELSON JR   9/4/1947  M       ROY
85   MICHAELSON JR   9/4/1947  M    ROBERT
86   MICHAELSON JR   9/4/1947  M       BOB
87         LIND JR   20/01/46  M      JOHN
88         CAIN JR   20/01/46  M      JOHN
89           CLARK   9/6/1945  M      JOHN
90           CLARK   16/12/44  M      JOHN
91   MICHAELSON JR   24/06/39  M      JACK
92   MICHAELSON JR   9/6/1939  M      JACK
93     MUSTAPHA JR  7/10/1937  M    HAROLD
94     HOUGHTON JR  7/10/1937  M    HAROLD
95        SMITH JR  7/10/1937  M    HAROLD
96        FAGEN JR  7/10/1937  M    GEORGE
97      GRIFFIN JR  7/10/1937  M      DARH
98      GRIFFIN JR  10/7/1937  M      DARL
99      GRIFFIN JR   7/5/1937  M      DARL
100     GRIFFIN JR   7/5/1937  M  CLARENCE
101    GALETICH JR   15/10/32  M   ADDISON
102   FUNARO JONES  6/12/1937  F   HARRIET
103         Sparsh   7/9/1998  F     Dutta

[108 rows x 4 columns]

In [162]:
df[df['Cluster ID'] == 0].iloc[0][-4]

"b'SALTER JR'"

In [159]:
df[df['Cluster ID'] == 0].iloc[0][-4][2:-1]

'SALTER JR'

In [103]:
df1 = df1.append(df[df['Cluster ID'] == 0].iloc[0][3:7])

In [148]:
df[df['Cluster ID'] == i].iloc[0][-4]!=None

True

In [151]:
df[df['Cluster ID'] == ].iloc[0][-4][2:-1]

'SALTER JR'

In [149]:
df1['ln']=df[df['Cluster ID'] == i].iloc[0][-4][2:-1]

TypeError: 'float' object is not subscriptable

In [166]:
df1['ln'] = df1['ln'].append(df[df['Cluster ID'] == 26].iloc[0][-4][2:-1])

TypeError: cannot concatenate a non-NDFrame object

In [165]:
df[df['Cluster ID'] == 26].iloc[0][-4][2:-1]

'FUNARO J'